body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: black;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
}

.canvasContainer {
    position: relative;
}

h1 {
    background-image:linear-gradient(90deg,rgb(255, 94, 0),yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 650px;
    font-size: 46px;
}

.startScreenImg {
    width: 100%;
    height: 100%;
}

.startInfoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    /* top: 100px; */
    /* top: 290px; */
    height: 100vh;
}

.startScreen {
    display: flex;
    gap: 200px;
    /* bottom: 400px; */
    position: relative;
    /* height: 100vh; */
    margin-top: 100px;
}

.imprintAndDataprotectionImg {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

/* .button {
    margin-bottom: 800px;
} */

.buttonStartScreen {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(255, 200, 0);
    color:rgb(255, 200, 0);
    font-weight: bold;
    font-size: 20px;
}

.buttonStartScreen:hover {
    color: orange;
    border: 3px solid orange;
    cursor: pointer;
}

.newGameButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 40px;
    position: absolute;
}

.newGameButton {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid rgb(255, 200, 0);
    color:rgb(255, 200, 0);
    font-weight: bold;
    font-size: 16px;
}

.menuButton {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid rgb(255, 200, 0);
    color:rgb(255, 200, 0);
    font-weight: bold;
    font-size: 16px;
}

.menuButton:hover {
    color: orange;
    border: 3px solid orange;
    cursor: pointer;
}

.newGameButton:hover {
    color: orange;
    border: 3px solid orange;
    cursor: pointer;
}

.infoBox {
    height: 300px;
    width: 500px;
    background-color: rgb(243, 238, 238);
    border: 3px solid black;
    opacity: 0.6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.spanInfoBox {
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.info {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
}

.userInfoContainer {
    display: none;
}

.mobileButtonContainerOne {
    display: none;
}

.d-none {
    display: none !important;
}

.fullscreenImg {
    display: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.fullscreen {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 90px;
    /* bottom: -90px; */
    left: 278px;
}

.buttonBar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 20px;
    gap: 20px;
}

.soundButton {
    height: 40px;
    width: 40px;
}

.soundButton:hover {
    cursor: pointer;
    height: 42px;
    width: 42px;
}

.buttonCanvas {
    background: none;
    border: none;
    padding: 0;
}

.gameOver {
    max-width: 720px;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid red;
    box-shadow: 0 0 8px 1px red;
    border-radius: 10px;
}

.gameOverIMG {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gameWon {
    max-width: 720px;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 1px solid green;
    box-shadow: 0 0 8px 1px green;
}

.gameWonIMG {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.imprintAndDataprotectionContainer {
    display: flex;
    position: absolute;
    top: 20px;
    right: 50px;
    gap: 15px;
}


.imprint, .dataprotection {
    text-decoration: none;
    color:rgb(255, 200, 0);
    font-weight: bold;
    font-size: 20px;
}

.imprint:hover, .dataprotection:hover {
    color: orange;
    cursor: pointer;
}

/* .spanUserInfoContainer {
    display: none;
} */




