/* Smartphones */

@media only screen and (max-width: 720px) {

    canvas {
        width: 100%;
    }

    .mobileButton:hover {
        cursor: pointer;
    }

}

@media only screen and (max-height: 480px) {

    canvas {
        height: 100vh;
    }

}

/* RESPONSIVE DESIGN */

/* @media (max-width: 1500px) {

    .button {
        margin-bottom: 730px;
    }

} */

/* @media (max-width: 1368px) and (orientation: landscape) {

    .userInfoContainer {
        display: none;
    }

} */


@media (max-width: 840px) {

    .headline {
        display: none;
    }

    .fullscreen {
        display: none;
    }

    /* .infoScreen {
        margin-bottom: 700px;
    } */

    .button {
        margin-bottom: 0;
    }

    .buttonStartScreen {
        margin-bottom: 20px;
    }

}

@media (max-width: 720px) {

    canvas {
        width: 100%;
    }

    .soundButton {
        height: 25px;
        width: 25px;
    }

    .userInfoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgb(133, 130, 130);
        opacity: 0.8;
        width: 400px;
        top: 70px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid rgb(159, 6, 6);
    }

    .turnDeviceSpan {
        display: block;
        color: rgb(159, 6, 6);
        font-size: 28px;
        font-weight: bold;
    }

    .buttonStartScreen {
        width: 150px;
        height: 40px;
    }

    .info {
        width: 500px;
    }

    .mobileButtonContainerOne {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: 10px;
    }

    .mobileButtonContainerTwo {
        display: flex;
        justify-content: space-between;
        width: 720px;
    }

    .mobileButton {
        width: 40px;
        height: 40px;
    }
    
    .buttonSmartphone {
        padding: 0;
        width: 40px;
        height: 40px;
        border: 0;
        border-radius: 10px;
    }
    
    .mobileButtonsOne {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
    }

    .mobileButtonsTwo {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 576px) {

    .startScreen {
        gap: 100px;
        justify-content: center;
        max-height: 720px;
    }

    .startInfoContainer {
        top: 100px;
    }

    .info {
        width: 400px;
    }

    .infoBox {
        width: 380px;
    } 

    .newGameButtonContainer {
        top: 25px;
    }

    .newGameButton {
        width: 150px;
        height: 30px;
    }

    .mobileButtonContainerOne {
        bottom: 5px;
    }

    .buttonSmartphone {
        width: 30px;
        height: 30px;
    }

    .mobileButton {
        width: 30px;
        height: 30px;
    }

    .infoScreen {
        margin-bottom: 0;
    }

}

@media (max-width: 410px) {

    .startInfoContainer {
        /* height: 750px; */
        top: 80px;
    }

    .startScreen {
        display: block;
    }

    .info {
        width: 150px;
        top: 270px;
    }

    .infoBox {
        width: 290px;
    }

    .userInfoContainer {
        top: 135px;
        width: 300px;
    }

    .soundButton {
        height: 20px;
        width: 20px;
    }

    .newGameButton {
        width: 120px;
        height: 25px;
        font-size: 14px;
    }

    .buttonSmartphone {
        width: 22px;
        height: 22px;
    }

    .mobileButton {
        width: 22px;
        height: 22px;
    }

    .infoScreen {
        margin-bottom: 0;
    }

    .button {
        margin-bottom: 0;
    }

    .infoButton {
        margin-top: 15px;
    }

}

@media (max-width: 360px) {

    .newGameButtonContainer {
        top: 20px;
    }

    .buttonBar {
        top: 10px;
    }

    .mobileButtonContainerOne {
        bottom: 5px;
    }

    .buttonSmartphone {
        border-radius: 5px;
    }
}

@media (orientation: landscape) {

    .userInfoContainer {
        display: none;
    }

}

@media (max-width: 1024px) and (orientation: landscape) {

    .info {
        top: 120px;
    }

}

@media (max-width: 950px) and (orientation: landscape) {

    .startInfoContainer {
        top: 55px;
    }

    .info {
        top: 70px;
    }

    .infoBox {
        height: 200px;
    }

}

@media (max-width: 740px) and (orientation: landscape) {

    .infoBox {
        height: 200px;
    }

}

@media (max-width: 670px) and (orientation: landscape) {

    .startInfoContainer {
        top: 55px;
    }

    .startButton .infoButton {
        width: 120px;
        height: 40px;
    }

    .info {
        top: 50px;
    }

    .infoBox {
        height: 250px;
    }

}